skillscenter-pp/src/Workflows/AcceptModule-510FB5C1-2A63-F011-BEC2-00224832075A.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "sc_sharedsharepointonline_53863"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_teams": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "sc_sharedteams_acb13"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "StudentSummary (sc_shared_sharepointonline_6181fa7e4038462386b154e3e3790b3b)": {
          "defaultValue": "d8f4f3b3-7691-480c-b6d8-98e78c0384c9",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_6181fa7e4038462386b154e3e3790b3b"
          }
        },
        "Grades (sc_shared_sharepointonline_61ef0df0bb334514941ba2313d47f2e2)": {
          "defaultValue": "bf4f59de-896f-425d-8ec6-6c94b83a4264",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_61ef0df0bb334514941ba2313d47f2e2"
          }
        },
        "CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)": {
          "defaultValue": "https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter-Proctors",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645"
          }
        },
        "Modules (sc_shared_sharepointonline_303816cedaec429687b2388eb924bfd8)": {
          "defaultValue": "b13972bb-cffa-49d4-b156-f6547afef576",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_303816cedaec429687b2388eb924bfd8"
          }
        },
        "Module Submissions (sc_shared_sharepointonline_8718b7b62d2f4b599968ee3d54611880)": {
          "defaultValue": "e5341daf-a469-46e7-be6f-40cc6183e771",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_8718b7b62d2f4b599968ee3d54611880"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8c890226-d59a-41d0-9991-48d095d2f2a5"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Grader",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Feedback",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Grade_item": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9cf73ab0-9ecd-4b8d-894d-c2f550e830ee"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "table": "@parameters('Grades (sc_shared_sharepointonline_61ef0df0bb334514941ba2313d47f2e2)')",
              "id": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Module_item": {
          "runAfter": {
            "Get_Grade_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1060a47f-7882-4e8b-8193-9947e72b8ee1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "table": "@parameters('Modules (sc_shared_sharepointonline_303816cedaec429687b2388eb924bfd8)')",
              "id": "@outputs('Get_Grade_item')?['body/Module/Id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Student_Summary_item": {
          "runAfter": {
            "Get_Module_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "142796c5-0a60-46b6-8fd4-00dfe8b855de"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "table": "@parameters('StudentSummary (sc_shared_sharepointonline_6181fa7e4038462386b154e3e3790b3b)')",
              "$filter": "Title eq '@{outputs('Get_Grade_item')?['body/Test/Value']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_Student_Summary": {
          "foreach": "@outputs('Get_Student_Summary_item')?['body/value']",
          "actions": {
            "Update_file_properties": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ae9743e5-9a3f-4317-9085-cc177c316332"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchFileItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
                  "table": "@parameters('Module Submissions (sc_shared_sharepointonline_8718b7b62d2f4b599968ee3d54611880)')",
                  "id": "@outputs('Get_file_metadata')?['body/ItemId']",
                  "item/DocumentType/Value": "Completed",
                  "item/GradedDate": "@utcNow()",
                  "item/ProctorComments": "@triggerBody()['text_2']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_card_in_a_chat_or_channel": {
              "runAfter": {
                "Update_Grades_Item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b8e3d5bc-84f5-42d4-81e3-8a29402ca84a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostCardToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "@{items('Apply_to_Student_Summary')?['StudentEmail']};",
                  "body/messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.3\",\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"auto\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Colorado_Buffaloes_logo.svg/1200px-Colorado_Buffaloes_logo.svg.png\",\n                            \"altText\": \"CU\",\n                            \"size\": \"Medium\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"University Of Colorado Boulder\",\n                            \"wrap\": true,\n                            \"size\": \"Medium\",\n                            \"weight\": \"Bolder\",\n                            \"spacing\": \"Small\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"MCDB1234/3456 SkillsCenter\",\n                            \"wrap\": true,\n                            \"spacing\": \"Small\"\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()['text_1']}: Hi @{items('Apply_to_Student_Summary')?['StudentName']}, the module @{outputs('Get_Grade_item')?['body/Module/Value']} has been accepted and your grade has been updated. Open the student app to see feedback and recieve your certificate.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"horizontalAlignment\": \"Center\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.OpenUrl\",\n                    \"title\": \"SkillsCenter Student App\",\n                    \"url\": \"https://apps.powerapps.com/play/e/default-3ded8b1b-070d-4629-82e4-c0b019f46057/a/829ee23f-d657-45ed-ac74-9a10a069fc59?tenantId=3ded8b1b-070d-4629-82e4-c0b019f46057&hint=2ff8728b-dfc7-45b4-8b7a-54285307fd4d&sourcetime=1755214557713\"\n                }\n            ]\n        }\n    ]\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Grades_Item": {
              "runAfter": {
                "Update_file_properties": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f8570a4e-8e87-4bc8-92cf-e77e37a8b611"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
                  "table": "@parameters('Grades (sc_shared_sharepointonline_61ef0df0bb334514941ba2313d47f2e2)')",
                  "id": "@outputs('Get_Grade_item')?['body/ID']",
                  "item/Status/Value": "Completed",
                  "item/RawScore": "@triggerBody()['text_1']",
                  "item/CalculatedGrade": "@outputs('Get_Module_item')?['body/ModuleHours']",
                  "item/ProctorComments": "@triggerBody()['text_2']",
                  "item/PlanningScore": 1,
                  "item/MethodsScore": 1,
                  "item/AnalysisScore": 1,
                  "item/ConclusionScore": 1,
                  "item/CitationsScore": 1,
                  "item/FormatScore": 1,
                  "item/MasteryScore": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_file_metadata": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f59e24c4-db16-4d04-b5e6-8f7141f4ef25"
          },
          "type": "Foreach"
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Apply_to_Student_Summary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1563e97-69c7-4cca-99c6-dc79756bc27b"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "Get_file_metadata": {
          "runAfter": {
            "Get_Student_Summary_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "27c6a1ca-e362-4ac4-bda3-bc84fbc037e8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileMetadata",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "id": "@outputs('Get_Grade_item')?['body/StudentRecordID']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Run_a_Child_Flow": {
          "runAfter": {
            "Respond_to_a_Power_App_or_flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "98b50611-bb0d-4a43-991d-741d4de721e3"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "332e4d0e-5363-f011-bec2-00224832075a"
            },
            "body": {
              "text": "@outputs('Get_Grade_item')?['body/Student_x0020_ID_x003a__x0020_St/Value']",
              "text_1": "@outputs('Get_Module_item')?['body/ModuleName']",
              "text_2": "@outputs('Get_Grade_item')?['body/Test/Value']",
              "text_3": "@outputs('Get_Module_item')?['body/Title']",
              "text_4": "@string(outputs('Get_Module_item')?['body/ID'])"
            }
          }
        },
        "Update_item": {
          "runAfter": {
            "Run_a_Child_Flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "24c4c1a2-156e-4567-b2b4-aa1f89db83a8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "PatchItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "table": "@parameters('Grades (sc_shared_sharepointonline_61ef0df0bb334514941ba2313d47f2e2)')",
              "id": "@outputs('Get_Grade_item')?['body/ID']",
              "item/CertificateLink": "@body('Run_a_Child_Flow')?['link']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}