skillscenter-pp/src/Workflows/ChildGetModules-35123191-917F-F011-B4CC-00224832075A.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sc_sharedsharepointonline_53863"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Modules (sc_shared_sharepointonline_303816cedaec429687b2388eb924bfd8)": {
          "defaultValue": "b13972bb-cffa-49d4-b156-f6547afef576",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_303816cedaec429687b2388eb924bfd8"
          }
        },
        "CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)": {
          "defaultValue": "https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter-Proctors",
          "type": "String",
          "metadata": {
            "schemaName": "sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645"
          }
        },
        "ModuleLinks (sc_ModuleLinks)": {
          "defaultValue": "28df7564-f8bb-4a16-874d-c596793729f7",
          "type": "String",
          "metadata": {
            "schemaName": "sc_ModuleLinks"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "de6085c2-1238-4b88-b3a4-b742fe859d77"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c696ca74-2d53-4608-ad40-7a0abfe2fc42"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "table": "@parameters('Modules (sc_shared_sharepointonline_303816cedaec429687b2388eb924bfd8)')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Get_items:_Module_Links": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "14484dce-32f3-4465-a931-15d7ca7f0357"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "modules": "@{outputs('Get_items')?['body/value']}",
              "modulelinks": "@{outputs('Get_items:_Module_Links')?['body/value']}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "modules": {
                  "title": "Modules",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "modulelinks": {
                  "title": "ModuleLinks",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_items:_Module_Links": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f15de11-f127-41df-be2c-b4473ea3bfb7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('CU Boulder Skills Center - Proctors - https://o365coloradoedu.sharepoint.com/sites/MCDB-SkillsCenter (sc_shared_sharepointonline_6ca1f56c6e5d41cbbfad9b651f119645)')",
              "table": "@parameters('ModuleLinks (sc_ModuleLinks)')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}